.tl-title-2 {
    font-size: 1.3rem;
    color: var(--blue-light);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tl-title-2::before {
    background-color: var(--blue-light);
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*Media Querries*/
@media screen and (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 4;
    }

    .right-section {
        grid-column: span 8;
    }
}

@media screen and (max-width: 992px) {

    /* Tablet-sized screen */
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 6;
    }

    .right-section {
        grid-column: span 6;
    }
}

@media screen and (max-width: 780px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 3;
    }

    .right-section {
        grid-column: span 9;
    }
}

@media screen and (max-width: 681px) {
    /* .right-title::after {
        width: 30%;
    } */
}



i.toggler {
    font-size: 20px;
    color: black;
    float: right;
}

.dark-mode {
    background-color: black;
}

.dark-mode i.toggler {
    color: white;
}

.dark-mode .container {
    background-color: black;
}

.dark-mode h1,
.dark-mode h4 {
    color: black;
}