@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

:root {
    --left-bg: #00324A;
    --main-bg: white;
    --cont: #81878e;
    --sm: whitesmoke;

    --icon: black;

    --blue-dark: #00356B;
    --blue-mid: #009DC4;
    --blue-light: #A4DDED;
    --bright: #CCCCFF;

    --shadow-left: #191b1c7a 6px 2px 16px 0px,
        #0b0808cc -6px -2px 16px 0px;
    --shadow-main: #32325d40 0px 50px 100px -20px,
        #0000004d 0px 30px 60px -30px,
        #0a254059 0px -2px 6px 0px inset;

}

body {
    padding: 10px;
    background-color: var(--main-bg);
}

.links {
    color: var(--bright);
    text-decoration: none;
}

.main-content {
    min-height: 100vh;
    width: 92%;
    margin: 2rem auto;
    margin-block-start: 0cm;
    margin-block-end: 0cm;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 10px;
    box-shadow: var(--shadow-main)
}

.left-section {
    grid-column: span 2;
    padding: 2rem;
    background-color: var(--left-bg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: var(--shadow-left);
}

.profile img {
    border-bottom: 1px solid;
    width: 100%;
    border-radius: 50%;
    border: .3rem solid var(--sm);
}

.name {
    font-size: 1.4rem;
    color: var(--sm);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .4rem;
}

.career {
    font-size: 1.3rem;
    color: var(--bright);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.main-title {
    font-size: 1.4rem;
    color: var(--sm);
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
}

.contact-info ul {
    color: var(--bright);
    padding-top: 2rem;
}

.contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
}

.contact-info a {
    color: var(--bright)
}

.contact-info ul li i {
    font-size: 1.2rem;
    color: var(--blue-mid);
    padding-right: 1rem;
}

.skills-section ul {
    padding-top: 2rem;
}

.skill-title {
    font-size: 1rem;
    color: var(--bright);
    text-transform: uppercase;
}

.skills-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress-bar {
    background-color: var(--bright);
    width: 100%;
    height: .4rem;
    position: relative;
    border-radius: 12px;
}

.progress {
    background-color: var(--blue-mid);
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 12px;
}

.best-progress {
    width: 93%;
}

.a_avg-progress {
    width: 80%;
}

.avg-progress {
    width: 65%;
}

.b_avg-progress {
    width: 37%;
}

/* .references-section li {
    color: var(--head);
    padding: .2rem 0;
}

.references-section li i {
    font-size: 1.2rem;
    color: var(--cont);
    padding-right: .5rem;
} */

#icon {
    color: var(--icon);
    position: fixed;
    cursor: pointer;
    top: 22px;
    right: 75px;
}

i.toggler {
    font-size: 20px;
    color: var(--icon);
    float: right;
}

#btn {
    position: fixed;
    bottom: 30px;
    right: 15px;
    cursor: pointer;
    transition: all 0.1s linear 0.1s;
}

#btn:hover {
    transform: scale(1.2);
}

.right-section {
    grid-column: span 5;
    height: 100%;
}

.right-title {
    font-size: 1.6rem;
    color: var(--blue-dark);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-main-content {
    padding: 2rem 3rem;
}

.para {
    color: var(--cont);
    font-size: .92rem;
    line-height: 1.2rem;
}

.sect {
    padding-bottom: 2rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-title::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: var(--cont);
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tl-title {
    font-size: 1.3rem;
    color: var(--blue-mid);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tl-content {
    border-left: 1px solid var(--cont);
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2 {
    font-size: 1.3rem;
    color: var(--blue-light);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tl-title-2::before {
    background-color: var(--blue-light);
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

footer {
    color: var(--icon)
}

footer a {
    color: var(--blue-mid);
    text-decoration: none;
}

/*Media Querries*/
@media screen and (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 4;
    }

    .right-section {
        grid-column: span 8;
    }
}

@media screen and (max-width: 992px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 6;
    }

    .right-section {
        grid-column: span 6;
    }
}

@media screen and (max-width: 780px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-section {
        grid-column: span 3;
    }

    .right-section {
        grid-column: span 9;
    }
}

@media screen and (max-width: 681px) {
    .right-title::after {
        width: 30%;
    }
}


/* Dark Theme */
.dark-mode {
    --main-bg: #000000;
    --icon: #ffffff;

    --shadow-left: #e3f6ff64 6px 2px 16px 0px,
        #b3acacac -6px -2px 16px 0px;
    --shadow-main: #ffffff6f 0px 50px 100px -20px,
        #dfdede82 0px 30px 60px -30px,
        #ffffff8e 0px -2px 6px 0px inset;

}

.dark-mode i.toggler {
    color: var(--icon);
}